$white: #ffffff;
$black: #000000;

// primary
$primary-0: #1d297f;
$primary-1: #476055;
$primary-2: #b4cbab;
$primary-3: #cadac4;
$primary-4: #dbe6d8;
$primary-5: #edf8e9;
$primary-6: #f9fcf8;

$secondary-0: #bc9666;
$secondary-1: #dcbd96;
$secondary-2: #e4d6bd;
$secondary-3: #ebe4d4;
$secondary-4: #f9f5ef;
$secondary-5: #ee7420;
$secondary-6: #fe9a55;
$secondary-7: #ffb46d;
$secondary-8: #f5cca5;
$secondary-9: #faede1;
$secondary-10: #ff8b3c;

$dark-0: #1c1c28;

$gray-1: #1d2319;
$gray-2: #565656;
$gray-3: #878b87;
$gray-4: #d3d3d3;
$gray-5: #e9eae8;
$gray-6: #f8f8f8;
$gray-7: #ffffff;
$gray-8: #e9e9e9;
$gray-8: #f4f4f4;

$success-1: #099d5d;
$success-2: #06c270;
$success-3: #39d98a;
$success-4: #89e7ad;
$success-5: #baeece;
$success-6: #eafaeb;

$warning-1: #e8a700;
$warning-2: #ffb800;
$warning-3: #ffd25f;
$warning-4: #ffe6a7;
$warning-5: #fff4d8;
$warning-6: #fff8e7;

$danger-1: #f41515;
$danger-2: #ff3b3b;
$danger-3: #ff6d6d;
$danger-4: #ffa5a5;
$danger-5: #ffdbdb;
$danger-6: #fff0f0;

$blue-1: #0066ff;
