.heading1-extra-bold {
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading2-bold {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading3-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading3-semi-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading4-semi-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading5-medium {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading5-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.heading6-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--fontRoboto), sans-serif !important;
}
.title1-semi-bold {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--fontRoboto), sans-serif !important;
}

.title2-semi-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--fontRoboto), sans-serif !important;
}

.body1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--fontRoboto), sans-serif !important;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: var(--fontRoboto), sans-serif !important;
}

.caption1-semi-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--fontRoboto), sans-serif !important;
}

.caption2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--fontRoboto), sans-serif !important;
}
